<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.auth.authserver.dao.ISysMenuDao">
    <resultMap id="BaseResultMap" type="com.cloud.auth.authserver.entity.SysMenu">
		<result column="sm_id" jdbcType="BIGINT" property="smId" />
		<result column="psm_id" jdbcType="BIGINT" property="psmId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="sort" jdbcType="INTEGER" property="sort" />
		<result column="create_time" jdbcType="DATE" property="createTime" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="status_time" jdbcType="DATE" property="statusTime" />
    </resultMap>

    <sql id="where_sql">
        and 1=1
	    <if test="smId != null">
	       and sm_id = #{smId,jdbcType=BIGINT}
	    </if>
	    <if test="psmId != null">
	       and psm_id = #{psmId,jdbcType=BIGINT}
	    </if>
	    <if test="name != null">
	      <if test="nameEqual != null and nameEqual">
	         and name = #{name,jdbcType=VARCHAR}
	      </if>
	      <if test="nameEqual != null and not nameEqual">
	         <![CDATA[and name like CONCAT('%',#{name,jdbcType=VARCHAR} ,'%')]]>
	      </if>
	    </if>
	    <if test="url != null">
	      <if test="urlEqual != null and urlEqual">
	         and url = #{url,jdbcType=VARCHAR}
	      </if>
	      <if test="urlEqual != null and not urlEqual">
	         <![CDATA[and url like CONCAT('%',#{url,jdbcType=VARCHAR} ,'%')]]>
	      </if>
	    </if>
	    <if test="sort != null">
	       and sort = #{sort,jdbcType=INTEGER}
	    </if>
	    <if test="createTimeStart != null">
	       and create_time &gt;= #{createTimeStart,jdbcType=DATE}
	    </if>
	    <if test="createTimeEnd != null">
	       and #{createTimeEnd,jdbcType=DATE} &gt;= create_time
	    </if>
	    <if test="status != null">
	       and status = #{status,jdbcType=TINYINT}
	    </if>
	    <if test="statusTimeStart != null">
	       and status_time &gt;= #{statusTimeStart,jdbcType=DATE}
	    </if>
	    <if test="statusTimeEnd != null">
	       and #{statusTimeEnd,jdbcType=DATE} &gt;= status_time
	    </if>
        <if test="inSql != null and inSql.size()>0">
            <foreach collection="inSql" item="intervalEntity" separator=" ">
                and ${intervalEntity.name} in
                <foreach collection="intervalEntity.list" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </foreach>
        </if>
        <if test="notInSql != null and notInSql.size()>0">
            <foreach collection="notInSql" item="intervalEntity" separator=" ">
                and ${intervalEntity.name} not in
                <foreach collection="intervalEntity.list" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </foreach>
        </if>
    </sql>

    <sql id="Example_Where_Clause">
      <foreach collection="criterias" item="criteria" separator=" ">
        <if test="criteria.valid">
            ${criteria.opt}
            <trim prefix="(" prefixOverrides="and|or" suffix=")">
                <foreach collection="criteria.criterions" item="criterion">
                  <choose>
                    <when test="criterion.noValue">
                        ${criterion.condition}
                    </when>
                    <when test="criterion.oneValue">
                        ${criterion.condition} #{criterion.value1}
                    </when>
                    <when test="criterion.secondValue">
                        ${criterion.condition} #{criterion.value1} and #{criterion.value2}
                    </when>
                    <when test="criterion.listValue">
                        ${criterion.condition}
                      <foreach collection="criterion.list" item="listItem" open="(" close=")" separator=",">
                        #{listItem}
                      </foreach>
                    </when>
                  </choose>
                </foreach>
            </trim>
        </if>
      </foreach>
   </sql>

    <sql id="Base_Column_List">
        sm_id,psm_id,name,url,sort,
		create_time,status,status_time
    </sql>

    <sql id="Base_Object_List">
        #{smId},#{psmId},#{name},#{url},#{sort},
		#{createTime},#{status},#{statusTime}
    </sql>

    <sql id="Base_Item_List">
        #{item.smId},#{item.psmId},#{item.name},#{item.url},#{item.sort},
		#{item.createTime},#{item.status},#{item.statusTime}
    </sql>

     <!--获取最大的主键-->
    <select id="selectMaxSysMenuId" resultType="java.lang.Long">
        select IFNULL(max(sm_id), 0) from `sys_menu`
    </select>

    <!--根据主键获取对象-->
    <select id="loadSysMenuByKey" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from sys_menu
        <where>
            AND sm_id=#{smId}
        </where>
    </select>

    <!--插入对象-->
    <insert id="addSysMenu">
        insert into sys_menu(<include refid="Base_Column_List" />)
        values(<include refid="Base_Object_List" />)
    </insert>

    <!--批量插入对象-->
    <insert id="addSysMenuList">
        insert into sys_menu(<include refid="Base_Column_List" />)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (<include refid="Base_Item_List" />)
        </foreach>
    </insert>

    <!--更新对象-->
    <update id="updateSysMenu">
        update sys_menu
        <set>
			<if test="psmId != null">
				psm_id = #{psmId},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="url != null">
				url = #{url},
			</if>
			<if test="sort != null">
				sort = #{sort},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="statusTime != null">
				status_time = #{statusTime},
			</if>
        </set>
        <where>
            AND sm_id=#{smId}
        </where>
    </update>

    <!--批量更新对象-->
    <update id="updateSysMenuList">
        <foreach collection="list" separator=";" item="item">
            update sys_menu
            <set>
				<if test="item.psmId != null">
					psm_id = #{item.psmId},
				</if>
				<if test="item.name != null">
					name = #{item.name},
				</if>
				<if test="item.url != null">
					url = #{item.url},
				</if>
				<if test="item.sort != null">
					sort = #{item.sort},
				</if>
				<if test="item.createTime != null">
					create_time = #{item.createTime},
				</if>
				<if test="item.status != null">
					status = #{item.status},
				</if>
				<if test="item.statusTime != null">
					status_time = #{item.statusTime},
				</if>
            </set>
            <where>
                AND sm_id=#{item.smId}
            </where>
        </foreach>
    </update>

    <!--更新对象:全更新-->
    <update id="fullUpdateSysMenu">
        update sys_menu
        <set>
			psm_id = #{psmId},
			name = #{name},
			url = #{url},
			sort = #{sort},
			create_time = #{createTime},
			status = #{status},
			status_time = #{statusTime},
        </set>
        <where>
            AND sm_id=#{smId}
        </where>
    </update>

    <!--批量更新对象:全更新-->
    <update id="fullUpdateSysMenuList">
        <foreach collection="list" separator=";" item="item">
            update sys_menu
            <set>
				psm_id = #{item.psmId},
				name = #{item.name},
				url = #{item.url},
				sort = #{item.sort},
				create_time = #{item.createTime},
				status = #{item.status},
				status_time = #{item.statusTime},
            </set>
            <where>
                AND sm_id=#{item.smId}
            </where>
        </foreach>
    </update>

    <!--查询总数-->
    <select id="getSysMenuCount" resultType="java.lang.Long">
        select count(*) from sys_menu
        <where>
            <include refid="where_sql" />
        </where>
    </select>

    <!--查询和分页查询,区别在于page和pageSize是否为空-->
    <select id="getSysMenuList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from sys_menu
        <where>
            <include refid="where_sql" />
        </where>
        <if test="page!=null and pageSize!=null and page>0" >
            limit #{index},#{pageSize}
        </if>
        <if test="orderByClause!=null and orderByClause!=''">
            order by ${orderByClause}
        </if>
    </select>

    <!--复杂查询获取总数-->
    <select id="getSysMenuCountExample" resultType="java.lang.Long">
        select count(*) from sys_menu
        <where>
            <include refid="Example_Where_Clause" />
        </where>
    </select>

    <!--复杂查询查询列表-->
    <select id="getSysMenuListExample" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from sys_menu
        <where>
            <include refid="Example_Where_Clause" />
        </where>
        <if test="page!=null and pageSize!=null and page>0" >
            limit #{index},#{pageSize}
        </if>
        <if test="orderByClause!=null and orderByClause!=''">
            order by ${orderByClause}
        </if>
    </select>

    <!--根据主键删除对象-->
    <delete id="deleteSysMenu">
        delete from sys_menu
        <where>
            AND sm_id = #{smId}
        </where>
    </delete>

    <!-- 批量删除对象 -->
    <delete id="deleteSysMenuList">
        delete from sys_menu
        <where>
            sm_id in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </delete>

    <!--根据ID列表获取记录列表-->
    <select id="findSysMenuListByIds" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from sys_menu
        <where>
            sm_id in
            <foreach collection="list" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </select>

</mapper>

